<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">       
    <title>魚の種類・毒の有無を判定</title>
</head>
<body>
    <div class="row">
        <header class="col sl2 blue lighten-1">
            <div class="col offset-s1">
                <a href="/"><p class="white-text">魚の種類・毒の有無を判定</p></a>
            </div>
        </header>

        {% block body %}
        {% endblock %}
    </div>
</body>
</html>